<<<<<<< HEAD
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #289b7c;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
}

.logo {
    width: 25%;
    cursor: pointer;

}





header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background: #FFB129;

}

header li a {
    background-color: #FFB129;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0 3em;
    color: #34495e;
    font-weight: lighter;
    cursor: pointer;
}

header li a:hover {
    cursor: pointer;
    background-color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0 6em;
    color: #1f1e1e;
    font-weight: bold;
    transition: 0.5s;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2.5em;
}

.presentacion img {
    width: 40%;
}

.titulo h1 {
    display: inline-block;
    font-size: 3.8em;
    font-weight: bold;
    padding-bottom: .2em;
    color: #1f1e1e;

    background-color: #FFB129;
}

.titulo p {
    font-size: 2.7em;
    width: 85%;
    color: #fff;
}

.btn-comenzar {
    font-size: 1em;
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 3em;
    margin-left: 30%;
    border: none;
    text-decoration: none;
    color: #34495e;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-comenzar:hover {
    font-size: 1em;
    background-color: #34495e;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3em;
    margin-left: 30%;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}


.medios {
    width: 100%;
    margin-top: 14em;
}

.medios h3 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
    color: #1f1e1e;
}

.medios ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.medios img {
    width: 180px;
}

footer {
    width: 100%;
    background-color: #4ccb70;
    margin-top: 10em;
    padding-top: 2em;
}

.footer-contacto {
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.redes {
    text-align: center;
}

.redes .central {
    width: 16em;
    margin-top: 1em;
}

.redes ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.wp {
    width: 1.5em;
}

footer p {
    text-align: center;
    margin-top: 3em;
    padding-bottom: .5em;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;

}

.contacto li {
    font-size: 1.2em;
    margin-top: 1em;
}


.pdf img {
    width: 12em;
    padding: 2em;
}

.pdf ul {
    display: flex;
}








/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

.sesion {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iniciarSesion {
    height: 270px;
    width: 500px;
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 3px;
}

#iniciarSesion h2 {
    font-size: 1.8em;
    padding: 1em 0 0 0;
}

#iniciarSesion input {
    margin: 1em;
    display: inline-block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    outline-color: gray;
}

#btnEntrar {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    background-color: #34495e;
    margin-top: .5em;
    padding: .2em .8em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnEntrar:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #FFB129;
    font-weight: bold;
    margin-top: .5em;
    padding: .3em .9em;
    transition: 0.3s;
}



/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

.tituloForm {
    display: inline;
    color: #1f1e1e;
    font-size: 2.8em;
    margin: 0 3em;
    font-weight: bold;
}

#usuarioIngresado {
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1e1e;
    background-color: #FFB129;
    border-radius: 3px;
    padding: 0 .2em;
}

#dniIngresado {
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1e1e;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDatos {
    margin-top: 2em;
    width: 400px;
    height: 330px;
    background-color: #fff;
    border-radius: 5px;
}

.formDatos h2 {
    color: #1f1e1e;
    background-color: #FFB129;
    text-align: center;
    font-size: 2em;
    font-weight: light;
    margin-bottom: .5em;
    padding: .15em 0;
    border-radius: 5px 5px 0 0;
}

.formCarga {
    width: 400px;
    height: 400px;
    margin-left: 2em;
}

.carga {
    text-align: center;
}

.formDatos input {
    width: 250px;
    height: 20px;
    display: block;
    background: #ffb12949;
    border: 0;
    color: #34495e;
    margin: .5em 20%;
    text-align: center;
    outline: #ffb12949;
    border-radius: 3px;
}

label {
    color: #34495e;
    font-weight: 540;
    font-size: 1.2em;
}

.btnForm {
    width: 8em;
    font-size: 1.18em;
    background: #4ccb70;
    border: none;
    color: #fff;
    margin-top: 1.5em;
    padding: .2em;
    cursor: pointer;
    font-weight: bold;

}

.btnForm:hover {
    width: 8em;
    font-size: 1.25em;
    border: none;
    color: #fff;
    margin-top: 1.5em;
    padding: .2em;
    cursor: pointer;
    background-color: #FFB129;
    padding: .2em;
    transition: 0.4s;
    font-weight: bold;
}

/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
.formCarga {
    height: auto;
    width: 600px;
    background: #fff;
    border-radius: 3px;
    display: block;
    text-align: left;
    padding: 1.4em;
}

.formCarga h2 {
    font-size: 2em;
    color: #1f1e1e;
}

.formCarga #listaDeGastos {
    color: #34495e;
    font-weight: 540;
    font-size: 1.2em;
    padding: .5em 1.8em;
}

.btnCargado {
    margin-left: 70%;
    width: 8em;
    font-size: 1.18em;
    cursor: pointer;
    background-color: #34495e;
    color: #fff;
    border: none;
    padding: .2em;
    cursor: pointer;
    font-weight: bold;
}

.btnCargado:hover {
    width: 8em;
    font-size: 1.25em;
    background-color: #FFB129;
    transition: 0.4s;
    font-weight: bold;
}




#pagos h2 {
    padding: 1em 30%;
    font-size: 1.8em;
    color: #fff;
    text-decoration: underline;

}
=======
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #289b7c;
    height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
}

.logo {
    width: 25%;
    cursor: pointer;

}





header nav ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    background: #FFB129;

}

header li a {
    background-color: #FFB129;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0 3em;
    color: #34495e;
    font-weight: lighter;
    cursor: pointer;
}

header li a:hover {
    cursor: pointer;
    background-color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    padding: 0 6em;
    color: #1f1e1e;
    font-weight: bold;
    transition: 0.5s;
}

.presentacion {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 2.5em;
}

.presentacion img {
    width: 40%;
}

.titulo h1 {
    display: inline-block;
    font-size: 3.8em;
    font-weight: bold;
    padding-bottom: .2em;
    color: #1f1e1e;

    background-color: #FFB129;
}

.titulo p {
    font-size: 2.7em;
    width: 85%;
    color: #fff;
}

.btn-comenzar {
    font-size: 1em;
    background-color: #fff;
    padding: 10px 15px;
    margin-top: 3em;
    margin-left: 30%;
    border: none;
    text-decoration: none;
    color: #34495e;
    font-weight: bold;
    font-size: 1.5em;
    cursor: pointer;
}

.btn-comenzar:hover {
    font-size: 1em;
    background-color: #34495e;
    padding: 10px 15px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3em;
    margin-left: 30%;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}


.medios {
    width: 100%;
    margin-top: 14em;
}

.medios h3 {
    text-align: center;
    margin-bottom: 2em;
    font-size: 2em;
    color: #1f1e1e;
}

.medios ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.medios img {
    width: 180px;
}

footer {
    width: 100%;
    background-color: #4ccb70;
    margin-top: 10em;
    padding-top: 2em;
}

.footer-contacto {
    display: flex;
    align-items: top;
    justify-content: space-around;
}

.redes {
    text-align: center;
}

.redes .central {
    width: 16em;
    margin-top: 1em;
}

.redes ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
}

.wp {
    width: 1.5em;
}

footer p {
    text-align: center;
    margin-top: 3em;
    padding-bottom: .5em;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;

}

.contacto li {
    font-size: 1.2em;
    margin-top: 1em;
}


.pdf img {
    width: 12em;
    padding: 2em;
}

.pdf ul {
    display: flex;
}








/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

.sesion {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iniciarSesion {
    height: 270px;
    width: 500px;
    display: block;
    text-align: center;
    background: #fff;
    border-radius: 3px;
}

#iniciarSesion h2 {
    font-size: 1.8em;
    padding: 1em 0 0 0;
}

#iniciarSesion input {
    margin: 1em;
    display: inline-block;
    width: 50%;
    padding: 8px;
    border: 1px solid gray;
    outline-color: gray;
}

#btnEntrar {
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    background-color: #34495e;
    margin-top: .5em;
    padding: .2em .8em;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#btnEntrar:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #FFB129;
    font-weight: bold;
    margin-top: .5em;
    padding: .3em .9em;
    transition: 0.3s;
}



/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */

.tituloForm {
    display: inline;
    color: #1f1e1e;
    font-size: 2.8em;
    margin: 0 3em;
    font-weight: bold;
}

#usuarioIngresado {
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1e1e;
    background-color: #FFB129;
    border-radius: 3px;
    padding: 0 .2em;
}

#dniIngresado {
    text-transform: uppercase;
    font-weight: bold;
    color: #1f1e1e;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formDatos {
    margin-top: 2em;
    width: 400px;
    height: 330px;
    background-color: #fff;
    border-radius: 5px;
}

.formDatos h2 {
    color: #1f1e1e;
    background-color: #FFB129;
    text-align: center;
    font-size: 2em;
    font-weight: light;
    margin-bottom: .5em;
    padding: .15em 0;
    border-radius: 5px 5px 0 0;
}

.formCarga {
    width: 400px;
    height: 400px;
    margin-left: 2em;
}

.carga {
    text-align: center;
}

.formDatos input {
    width: 250px;
    height: 20px;
    display: block;
    background: #ffb12949;
    border: 0;
    color: #34495e;
    margin: .5em 20%;
    text-align: center;
    outline: #ffb12949;
    border-radius: 3px;
}

label {
    color: #34495e;
    font-weight: 540;
    font-size: 1.2em;
}

.btnForm {
    width: 8em;
    font-size: 1.18em;
    background: #4ccb70;
    border: none;
    color: #fff;
    margin-top: 1.5em;
    padding: .2em;
    cursor: pointer;
    font-weight: bold;

}

.btnForm:hover {
    width: 8em;
    font-size: 1.25em;
    border: none;
    color: #fff;
    margin-top: 1.5em;
    padding: .2em;
    cursor: pointer;
    background-color: #FFB129;
    padding: .2em;
    transition: 0.4s;
    font-weight: bold;
}

/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
/* -------------------------- */
.formCarga {
    height: auto;
    width: 600px;
    background: #fff;
    border-radius: 3px;
    display: block;
    text-align: left;
    padding: 1.4em;
}

.formCarga h2 {
    font-size: 2em;
    color: #1f1e1e;
}

.formCarga #listaDeGastos {
    color: #34495e;
    font-weight: 540;
    font-size: 1.2em;
    padding: .5em 1.8em;
}

.btnCargado {
    margin-left: 70%;
    width: 8em;
    font-size: 1.18em;
    cursor: pointer;
    background-color: #34495e;
    color: #fff;
    border: none;
    padding: .2em;
    cursor: pointer;
    font-weight: bold;
}

.btnCargado:hover {
    width: 8em;
    font-size: 1.25em;
    background-color: #FFB129;
    transition: 0.4s;
    font-weight: bold;
}




#pagos h2 {
    padding: 1em 30%;
    font-size: 1.8em;
    color: #fff;
    text-decoration: underline;

}
>>>>>>> 1a608d6de75202ff4f53be38087fb8f87a2f6ee7
